node_modules/
src/firebase.js
pesque_fale_app/linux/flutter/generated_plugin_registrant.cc
pesque_fale_app/linux/flutter/generated_plugin_registrant.h
pesque_fale_app/linux/flutter/generated_plugins.cmake
pesque_fale_app/macos/Flutter/GeneratedPluginRegistrant.swift
pesque_fale_app/windows/flutter/generated_plugin_registrant.cc
pesque_fale_app/windows/flutter/generated_plugin_registrant.h
pesque_fale_app/windows/flutter/generated_plugins.cmake
