PORT=3333
DATABASE_URL=postgresql://postgres:SUA_SENHA@localhost:5432/pesqueefale
JWT_SECRET=seu_jwt_secret_aqui
JWT_EXPIRES_IN=24h
CLOUDINARY_CLOUD_NAME=seu_cloud_name
CLOUDINARY_API_KEY=sua_api_key
CLOUDINARY_API_SECRET=seu_api_secret